@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  font-family: "Instrument Sans", sans-serif;
}

img {
  -webkit-user-drag: none;
  pointer-events: none;
}

::-webkit-scrollbar {
  display: none;
}